biopython>=1.79
pandas>=1.5
numpy>=1.24

Software: (the scripts call the softwares from the PATH)
bcftools 1.22-41
bowtie2 2.5.4
samtools 1.22.1
blast 2.17.0+
prokka 1.14.6
anvio-8
emapper
pseudofinder
